@use '../../../shared/sass/abstracts/colors' as *;

#hero {
  padding: 96px 0 64px;
  min-height: 70vh;
  background: var(--surface);
  background: radial-gradient(circle at 50% 0%, rgba(0, 255, 0, 0.1) 0%, var(--surface) 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .accent {
    color: var(--accent-strong);
  }
}