@use '../../../shared/sass/abstracts/colors' as *;

.team-section {
  background: var(--bg);
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}